.projects {
	margin: 0rem auto;
	display: flex;
	width: 80%;
	align-items: center;
	justify-content: space-evenly;
	font-family: "Barlow Condensed";
}

.projectHeading {
	font-size: 3rem;
	text-align: center;
}

@media (max-width: 768px) {
	.projects {
		margin: 0rem auto;
		flex-direction: column;
		width: 90%;
	}
}

@media (max-width:768px) {
    .app-content{
        margin-top: 4rem;
    }
    
}
@keyframes renderFromLeft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes renderFromRight {
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}